#loguin{
        background: linear-gradient(120deg, #4c79d3 44.9%, white 45%) no-repeat fixed;
        }
#app{
        background: linear-gradient(120deg, white 44.9%, #4c79d3 45%) no-repeat fixed;
}

header{ 
        border-bottom: 1px solid #bebcbc;
        padding: 5px;
        background: #ffffff;
}
.color-primary{
        color: #4e0070;
}
.color-secundary{
        color: #4c79d3;
}

.icon-detail{
        font-size: 50px;
        margin-right: 10px;     
        vertical-align: middle;
}
.text-loguin{
                color: white;
                font-size: 18px;
                font-weight: 500;
        }
.coins{
                position: absolute;
                bottom: 100px;
        }
.button-sign{ border-radius: 10px;
        background-color: #4e0070;
        color: white;
        width: 50%;
        margin: 25%;
}
.button-sign:hover, .button-default:hover {
        background: #4c79d3;
        color: white;
}

.button-loguin:hover {
        border-radius: 10px;
        background-color: #4e0070;
        color: white;
        width: 50%;
        margin: 25%;
}
.button-float{
        border-radius: 200%;
        height: 60px;
        width: 60px;
        position: fixed;
       padding: 0 !important;
        bottom: 2rem;
        right: 2rem;
        font-size: 35px;
        border: 2px solid #4e0070;
        background-color: #4e0070;
        color: #ffffff;
        
       
}
.button-float:hover{
        border: 2px solid #4c79d3;
        background: #ffffff;
        color: #4c79d3;
       

}

.button-cancel{
        border-radius: 10px;
}
.button-default{
        border-radius: 10px;
        background-color: #4e0070;
        color: #ffffff;
}
.button-loguin:hover, .button-default:hover {
        background: #4c79d3;
        color: white;
}
.link-default{
     color:#4e0070;
     cursor: pointer;
}
.link-default:hover{
        color: #4c79d3;
}
.info{
        background-color: #ffffff;
        border-radius: 20px 20px 0px 0px;
        padding: 20px 0px 0px 0px;
}